.DS_Store
node_modules

/tests/e2e/videos/
/tests/e2e/screenshots/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
yarn.lock
src/assets/logo.png
src/components/shopsTable/shopsFiltered.json
src/components/shopsTable/shopsFinal.json
README.md
src/tst.vue
src/shopsFinalWithStock.json
src/shopsFinalWithStock.json
src/zabka.json
src/zabkaWithStock.json
src/zabkaWithStockAndGPS.json
src/shopsFinalWithStock.json
src/shopsFinalWithStock.json
src/shopsFinalWithStock.json
src/shopsFinalWithStock.json
cypress/integration/examples/actions.spec.js
cypress/fixtures/example.json
cypress/fixtures/profile.json
cypress/fixtures/users.json
cypress/integration/examples/aliasing.spec.js
cypress/integration/examples/assertions.spec.js
cypress/integration/examples/connectors.spec.js
cypress/integration/examples/cookies.spec.js
cypress/integration/examples/cypress_api.spec.js
cypress/integration/examples/files.spec.js
cypress/integration/examples/local_storage.spec.js
cypress/integration/examples/location.spec.js
cypress/integration/examples/misc.spec.js
cypress/integration/examples/navigation.spec.js
cypress/integration/examples/network_requests.spec.js
cypress/integration/examples/newTest.spec.js
cypress/integration/examples/querying.spec.js
cypress/integration/examples/spies_stubs_clocks.spec.js
cypress/integration/examples/traversal.spec.js
cypress/integration/examples/utilities.spec.js
cypress/integration/examples/viewport.spec.js
cypress/integration/examples/waiting.spec.js
cypress/integration/examples/window.spec.js
cypress/plugins/index.js
cypress/screenshots/All Specs/my-image.png
cypress/support/commands.js
cypress/support/index.js
server.js
webpack.config.1.js
src/zabki.bak.json
zabki.json
src/samezabki.js
src/test.js
src/zabki.json
src/zabkiWwa.json
src/assets/fruit-and-veg_1050x600.jpg
src/assets/fruit-and-veg_1920x1080_blur_7.jpg
src/assets/fruit-and-veg_1920x1080.jpg
src/assets/fruit-and-veg_1920x1080_blur_7_dark.jpg
src/assets/fruit-and-veg_1920x1080_blur_7_dark_low_brightness.jpg
src/data/shopsFinalId.json
src/data/shopsFromOverpass.json
src/assets/fruit-and-veg_1920x1080_blur_7_dark_low_brightness.jpg
src/assets/fruit-and-veg_1920x1080.jpg
src/assets/fruit-and-veg_1920x1080_blur_7_dark.jpg
zabki.json
zabki.bak.json
src/GPSandStockImport.js
cypress/videos/examples/newTest.spec.js.mp4
src/assets/favicon-16x16.png
src/assets/favicon-96x96.png
dist/build.js
dist/build.js.map
dist/build.js
dist/build.js
dist/build.js
_lint.js
