<div>
  <b-container>
    <b-row class='my-3'>
      <b-col md="9" offset-md="1">
        <router-link to="/" active-class='active'><a id="link_home">Home</a></router-link>
        <h4>Instrukcja obsługi</h4>
      </b-col>
    </b-row>

    <b-row class='my-3'>
      <b-col md="10" offset-md="1">
        <h5>1. Do czego służy ta aplikacja? </h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aplikacja pozwala porównać ceny wybranych towarów w określonej
          przez przez użytkownika &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;odległości od wybranego miejsca
          (np. domu / pracy)</p>

        <h5>2. Od czego zacząć ? </h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wybierz lub wpisz swoją lokalizację do pól: miasto, ulicę,
          (opcjonalnie) numer domu i odległość, &nbsp;&nbsp;&nbsp;&nbsp;po czym wciśnij przycisk Search.
          Po chwili otrzymasz listę sklepów spełniających te warunki sklepów </p>

        <h5>3. Co dalej ? </h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Klikaj w czekboksy odpowiadające nazwom towarów których ceną jesteś
          zainteresowana.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Po każdym kliknieciu dla każdego ze sklepów
          ukaże się kolumna z ceną wybranego towaru i z sumą
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cen wszystkich towarów wybranych dotychczas
        </p>

        <h5>4. Jak skasować wybrane towary ? </h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Możesz pojedyńczo klikać w czekboksy, lub nacisnąc umieszczony nad nimi
          przycisk 'Reset'</p>

        <h5>5. Jak zmienić pola lokalizacji ?</h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Możesz edytować poszczególne pola, lub wyczyścić je wszystkie wciskając
          przycisk 'Reset' &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;umieszczony za przyciskiem 'Search'</p>

        <h5>6. Jak posortować sklepy wg ich odległości od mojej lokalizacji ?</h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Przyciśnij umieszczoną za nazwą 'Odległość', ikonkę dwu strzałek.
          Ponowne przyciśnięcie<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sortuje w odwrotnym kierunku </p>

        <h5>7. Jak dojechać do wybranego sklepu komunikacją miejską ?</h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kliknij w odpowiadającą wybranemu sklepowi linkę 'jakDojade'</p>

        <h5>8. Jak dojechać do wybranego sklepu samochodem lub dojść ?</h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kliknij w odpowiadającą wybranemu sklepowi linkę 'GMaps'</p>

      </b-col>
    </b-row>

  </b-container>
</div>

