<div id="search">
  <v-toolbar
      dark
      color="grey">
      <v-flex xs2 sm1 mr-5 d-flex>
        <v-toolbar-title>WioTurillo</v-toolbar-title>
      </v-flex>

      <v-flex xs6 sm3 mx-5 d-flex>
        <v-autocomplete
          :items="stationNames"
          v-model="selectStation"
          cache-items
          class="mx-3"
          flat
          hide-no-data
          hide-details
          label="Wpisz pierwsze litery stacji"
          solo-inverted>
        </v-autocomplete>
      </v-flex>

      <v-btn color="info">Szukaj</v-btn>
      <v-btn color="info">Zmień format</v-btn>
      <v-btn color="info">Wykres</v-btn>

    </v-toolbar>
  </div>
